.gridContainer {
  height: 80vh;
  border: 3px solid greenyellow;
  display: grid;
  /* grid-template-columns: 100px 200px 300px; */
  /* grid-template-rows: 100px 100px 100px; */
  /* grid-template-columns: repeat(4, 100px); */
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(2, 1fr) 100px;
  /* row-gap: 10px;
  column-gap: 20px; */
  gap: 20px;
}

.gridItem {
  border: 1px solid red;
  background-color: yellow;
  color: red;
  font-size: 24px;
  /* height: 100px;
  width: 100px; */
}

.gridItem:nth-child(2) {
  /* grid-column-start: -1;
  grid-column-end: -2;
  grid-row-start: 3;
  grid-row-end: 4; */
  grid-column: 2/4;
  grid-row: 2/4;
}

.layout {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header header"
      "nav main aside"
      "footer footer footer";
}
header {
  background-color: rgba(0, 0, 0, 0.476);
  color: white;
  font-size: 32px;
  grid-area:header;
}
footer {
  background-color: rgba(0, 0, 0, 0.61);
  color: white;
  font-size: 24px;
  grid-area: footer;
}

nav {
  background-color: rgba(5, 13, 99, 0.545);
  grid-area: nav;
}
main {
  background-color: rgba(255, 217, 0, 0.435);
  color: rgba(136, 0, 0, 0.534);
  grid-area: main;
}
aside {
  background-color: rgba(19, 72, 0, 0.455);
  color: white;
  grid-area: aside;
}